body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-image: url('https://img.freepik.com/free-photo/blur-coffee-cafe-shop-restaurant-with-bokeh-background_1421-472.jpg?size=626&ext=jpg&ga=GA1.1.1677326305.1675962342&semt=ais');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .header-title {
    font-size: 3rem;
    margin: 0;
    margin-top: 100px;
  }
  .header-title2 {
    font-size: 3rem;
    margin: 30;
    margin-top: 150px;
  }
  
  .header-description {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  
  /* Style the menu section */
  .menu-section {
    background-image: url('https://img.freepik.com/free-photo/blur-coffee-cafe-shop-restaurant-with-bokeh-background_1421-472.jpg?size=626&ext=jpg&ga=GA1.1.1677326305.1675962342&semt=ais');
    background-size: cover;
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
  }
  
  .section-title {
    font-size: 2rem;
    color: #f8f5f5;
    margin-bottom: 20px;
  }
  .section-motive {
    font-size: 1.5rem;
    margin-top: 20px;
    color:#f8f5f5;
  }
 
  
  .menu-list {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-item {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  /* Style the contact section */
  .contact-section {
    background-color: #53565a;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .contact-info {
    font-size: 1.2rem;
    margin: 10px 0;
  }