.home-page {
    padding: 20px;
    text-align: center;
  }
  
  .hero {
    background-image: url('https://t4.ftcdn.net/jpg/06/35/08/39/240_F_635083978_TVzboSVLlESnNoWTjcyxbaPi87rItsNI.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .featured-products {
    background-image: url('https://t3.ftcdn.net/jpg/01/53/97/96/240_F_153979609_i6SGjTHQdBknuxRcgtnVvx8G1ezK9Xoi.jpg');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .product-card {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    margin: 1rem;
    max-width: 300px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .btn {
    background-color: #ff6600;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #ff5500;
  }

  .contact-us {
    background-color: #f9f9f9;
    padding: 4rem 0;
    text-align: center;
  }
  
  .contact-us h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .contact-us p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  
  .product-card2 {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    margin: 1rem;
    max-width: 300px;
  }
  
  .product-card2 img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .product-card2 h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .product-card3 {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    margin: 1rem;
    max-width: 300px;
  }
  
  .product-card3 img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .product-card3 h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .contact-us{
    background-color: grey;
  }